@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-center uppercase hover:scale-105 font-title font-bold py-3 px-8 bg-sky-400 w-fit text-slate-900 hover:text-white rounded-sm hover:bg-sky-700 duration-100;
  }

  .btn-accent {
    @apply text-center hover:scale-105 font-title uppercase font-medium py-3 px-6 bg-sky-400/90 w-fit text-sky-950 hover:text-white hover:bg-sky-600/80 duration-300 ring-2 hover:ring-sky-600 ring-sky-600;
  }

  .btn-animate {
    @apply hover:before:bg-black/30 relative overflow-hidden px-3 text-white transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-black before:transition-all before:duration-300 hover:before:left-0 hover:before:w-full ease-in-out;
  }
  .btn-white {
    @apply text-center hover:scale-105 backdrop-blur-md uppercase font-bold py-3 px-6 ring-1 ring-slate-900 w-fit bg-sky-50/10 hover:bg-sky-600 hover:ring-sky-100 hover:text-sky-50 text-slate-900 duration-300;
  }

  .paragraph {
    @apply text-gray-600 lg:text-base leading-loose font-sans;
  }

  .tooltip {
    @apply invisible opacity-0 absolute w-[24rem] rounded-lg z-50 -top-10 left-12 shadow-md shadow-slate-800/50 bg-sky-50 text-center text-gray-800 p-6;
  }

  .has-tooltip {
    @apply relative;
  }

  .has-tooltip:hover .tooltip {
    @apply visible opacity-95 transition-all duration-300 top-0 cursor-help;
  }

  .section-upper {
    @apply mx-auto mt-12 uppercase text-lg lg:text-xl lg:max-w-3xl font-sans text-center font-bold tracking-tight text-sky-600;
  }

  .section-title {
    @apply mx-auto text-4xl lg:text-6xl lg:max-w-5xl font-title text-center font-bold tracking-tight text-sky-950;
  }

  .section-description {
    @apply mx-auto mb-12 text-lg max-w-3xl text-center tracking-wider text-gray-900;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply bg-sky-100 rounded-sm opacity-20 hover:opacity-70 duration-300 ease-in-out px-8 py-9;
  }
}

.outlined-text {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(1, 26, 68) !important;
}

.swiper-pagination-bullet {
  background-color: rgb(71, 184, 228) !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: rgb(39, 130, 235) !important;
}

/* .swiper-wrapper {
  height: 100% !important;
} */

.swiper-slide {
  height: auto !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marqueemobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2mobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 50s linear infinite;
}

.animate-marqueemobile {
  animation: marqueemobile 50s linear infinite;
}

.animate-marquee2mobile {
  animation: marquee2mobile 50s linear infinite;
}

/* * {
  border: 1px solid red;
} */
