---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS, OG_IMAGE } from "../consts";
import "@fontsource/kanit";
import "@fontsource-variable/open-sans";
import Navbar from "../components/Navbar";
import SocialMediaSchema from "../components/SocialMediaSchema.astro";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, keywords } = Astro.props;
import ChatWidget from "../components/ChatWidget.astro";
import Banner from "../components/Banner.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      keywords={keywords || KEYWORDS}
      image={OG_IMAGE}
    />
  </head>
  <body class="font-sans">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=G-75X25DPQQC"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Banner />
    <header class="w-full h-0 sticky inset-0 z-50 font-sans tracking-wider">
      <Navbar pathname={pathname} client:load />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
    <ChatWidget />
    <SocialMediaSchema title={siteTitle} description={siteDescription} />
  </body>
</html>
